<div id="<%= dom_id point_log %>">
  <p>
    <strong>Value:</strong>
    <%= point_log.value %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= point_log.type %>
  </p>

  <p>
    <strong>Reason:</strong>
    <%= point_log.reason %>
  </p>

</div>
